---
import getTranslation from 'src/helpers/getTranslation';
import { getRelativeLocaleUrl } from 'astro:i18n';

const currentLocale = getTranslation(Astro.url.pathname);
const languaje = Astro.url.pathname.includes('/en') ? 'en' : 'es';
const singleProjectUrl = getRelativeLocaleUrl(languaje, 'project');
const { secctions } = currentLocale;
const { projectsSection } = secctions[1];
---

{
  projectsSection && (
    <section
      id="projects"
      class="w-full flex flex-col items-center justify-center gap-4 mt-20"
    >
      <h2 class="text-4xl font-bold text-gray-800 dark:text-gray-100">
        {projectsSection.sectionTitle}
      </h2>
      <div class="w-full flex flex-wrap items-center justify-center gap-4 ">
        {projectsSection.projects.map((project, index) => (
          <a href={`${singleProjectUrl}${index}`}>
            <article
              data-key={index}
              class="max-w-[350px]  flex flex-col items-center justify-center gap-4  rounded-lg border border-gray-300 dark:border-neutral-800 cursor-pointer dark:hover:bg-gray-800 p-1"
            >
              <img
                src={project.images[0]}
                alt={project.title}
                class="h-full w-full object-contain  rounded-lg"
              />
              <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100 cursor-default">
                {project.title}
              </h3>
              <div class="m-4">
                <div class="flex flex-wrap items-center justify-center gap-6">
                  {project.technologies.map((technoligy, index) => (
                    <img
                      src={`https://cdn.simpleicons.org/${technoligy}`}
                      alt={project.title}
                      class="w-[26px] h-[26px]   rounded-lg"
                    />
                  ))}
                </div>
              </div>
            </article>
          </a>
        ))}
      </div>
    </section>
  )
}
