---
import '@Styles/global.css';
import background from '@Assets/backgrounds/darkBackground.svg';
import getTranslation from '@Helpers/getTranslation';
import NavBar from '@Components/Astro/NavBar/NavBar.astro';
import FooterPage from '@Components/Astro/FooterPage/FooterPage.astro';
import { ClientRouter } from 'astro:transitions';
const currentLocale = getTranslation(Astro.url.pathname);
---

<!doctype html>
<html
  data-theme="dark"
  class="m-0 w-full h-full"
  lang={currentLocale.head.lang}
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <title>{currentLocale.head.title}</title>
    <meta name="description" content={currentLocale.head.description} />
    <meta name="keywords" content={currentLocale.head.keywords.join(',')} />
    <meta name="author" content={currentLocale.head.author} />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content={currentLocale.head.title} />
    <meta property="og:description" content={currentLocale.head.description} />
    <meta property="og:image" content="/Porfolio.png" />
    <meta property="og:url" content={currentLocale.head.url} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={currentLocale.head.title} />
    <meta name="twitter:description" content={currentLocale.head.description} />
    <meta name="twitter:image" content="/Porfolio.png" />
    <ClientRouter />
  </head>
  <body
    id="home"
    class="flex flex-col items-center text-black dark:bg-gray-950 dark:text-white h-full m-0 w-full"
  >
    <NavBar transition:persist />
    <main class="grow w-[85%] mt-[64px]">
      <slot />
    </main>
    <FooterPage />

    <img
      class="fixed hidden top-0 left-0 size-full -z-10 blur-2xl opacity-100 dark:block"
      src={background.src}
      alt="background image"
      fetchpriority="high"
    />
    <!-- <img
      class="fixed top-0 left-0 -z-10 blur-sm size-full dark:hidden"
      src={background.src}
      alt="background image"
      fetchpriority="high"
    /> -->
  </body>
</html>

<style>
  html,
  body {
    scroll-behavior: smooth;
    overflow: visible;
  }
</style>
<script>
  const htmlThemeAtribute = document.documentElement.getAttribute('data-theme');

  const localStorageTheme = localStorage.theme;

  if (localStorageTheme === 'dark') {
    document.documentElement.setAttribute('data-theme', 'dark');
  } else if (localStorageTheme === 'light') {
    document.documentElement.setAttribute('data-theme', 'light');
  } else {
    document.documentElement.setAttribute('data-theme', 'dark');
    localStorage.setItem('theme', 'dark');
  }
</script>
