---
import '@Styles/global.css';
import getTranslation from '@Helpers/getTranslation';
import NavBar from '@Components/Astro/NavBar/NavBar.astro';
import FooterPage from '@Components/Astro/FooterPage/FooterPage.astro';
const currentLocale = getTranslation(Astro.url.pathname);
const navLinksVisible = Astro.url.pathname.includes('/project') ? false : true;
---

<!doctype html>
<html data-theme lang={currentLocale.head.lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicons/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="manifest" href="/favicons/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />

    <title>{currentLocale.head.title}</title>
    <meta name="description" content={currentLocale.head.description} />
    <meta name="keywords" content={currentLocale.head.keywords.join(',')} />
    <meta name="author" content={currentLocale.head.author} />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content={currentLocale.head.title} />
    <meta property="og:description" content={currentLocale.head.description} />
    <meta property="og:image" content="/Porfolio.png" />
    <meta property="og:url" content={currentLocale.head.url} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={currentLocale.head.title} />
    <meta name="twitter:description" content={currentLocale.head.description} />
    <meta name="twitter:image" content="/Porfolio.png" />
    <!-- <ClientRouter /> -->
    <script>
      document.addEventListener('astro:after-swap', () => {
        const localStorageTheme = localStorage.getItem('theme') || 'dark';
        document.documentElement.setAttribute('data-theme', localStorageTheme);
        console.log('astro:after-swap');
      });
    </script>
    <script>
      (function () {
        const theme = localStorage.getItem('theme') || 'dark';
        document.documentElement.setAttribute('data-theme', theme);
      })();
    </script>
  </head>
  <body
    id="home"
    class="flex flex-col items-center text-black dark:bg-gray-950 dark:text-white h-full m-0 w-full"
  >
    <NavBar visible={navLinksVisible} transition:persist />
    <main class="grow sm:w-[85%] w-[95%] mt-[64px]">
      <slot />
    </main>
    <FooterPage transition:persist />

    <img
      class="fixed hidden top-0 left-0 size-full -z-10 blur-2xl opacity-100 dark:block"
      src="/backGrounds/darkBackground.svg"
      alt="background image"
      fetchpriority="high"
    />
    <!-- <img
      class="fixed top-0 left-0 -z-10 blur-sm size-full dark:hidden"
      src={background.src}
      alt="background image"
      fetchpriority="high"
    /> -->
  </body><script
    is:inline
    src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
  ></script>
</html>

<style>
  html,
  body {
    scroll-behavior: smooth;
    overflow: visible;
    height: 100dvh;
  }
</style>
